---
import Layout from '../layouts/Layout.astro'
import HeroBanner from '../components/layout/HeroBanner.astro'
import seasonalGalettesImage from '../assets/seasonal-galettes.jpeg'

// Can these be imported from Square?
const menuItems = {
  bread: [
    {
      name: 'Spelt Country Batard',
      price: '$9',
    },
    {
      name: 'Anadama Batard',
      price: '$9.50',
    },
    {
      name: 'Cheddar Boule',
      price: '$10',
    },
    {
      name: 'Whole Wheat Sandwich Pullman',
      price: '$8.50',
    },
    {
      name: 'Multigrain Pullman',
      price: '$10',
    },
    {
      name: 'Sprouted Rye Pullman',
      price: '$10',
    },
    {
      name: 'Milk Pullman',
      price: '$8.50',
    },
    {
      name: 'Marble Rye Pullman',
      price: '$9.50',
    },
    {
      name: 'Tavola',
      price: '$9',
    },
    {
      name: 'Milk Buns 6pk',
      price: '$5',
    },
    {
      name: 'Demi-Baguette or Epi',
      price: '$3.50',
    },
    {
      name: 'Seasonal Veg Focaccia',
      price: '[4x4" slice $6 / Full 9x12" $24]',
    },
    {
      name: 'Frozen Pizza Dough (pick up only)',
      price: '$4',
    },
  ],
  pastries: [
    {
      name: 'Sourdough Chocolate Chip Cookie',
      price: '$3',
    },
    {
      name: 'Ginger Molasses Cookie',
      price: '$3',
    },
    {
      name: 'Seasonal Galette',
      price: '$6',
    },
    {
      name: 'Cinnamon Raisin Loaf',
      price: '$10',
    },
    {
      name: 'Morning Bun',
      price: '$5',
    },
  ],
}
---

<Layout
  title="Born Yesterday Bakery | Menu"
  description="Born Yesterday Bakery is a bakery located in Maine, specializing in sourdough bread"
>
  <HeroBanner
    title="Rotating Menu"
    image={seasonalGalettesImage}
    description="Our menu varies frequently. Check back often to see what we're baking!"
  />
  <main>
    <section id="menu" class="menu">
      <div class="menu-category">
        <h2>Bread</h2>
        <ul>
          {
            menuItems.bread.map((item) => (
              <li>
                {item.name}
                <span>{item.price}</span>
              </li>
            ))
          }
        </ul>
      </div>
      <div class="menu-category">
        <h2>Pastries</h2>
        <ul>
          {
            menuItems.pastries.map((item) => (
              <li>
                {item.name}
                <span>{item.price}</span>
              </li>
            ))
          }
        </ul>
      </div>
      <a href="https://bornyesterdaybakery.square.site/" class="site-cta">Order Now</a>
    </section>
  </main>
</Layout>

<style>
  .menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
    background-color: var(--color-secondary);
    box-shadow: 1rem 1rem 4rem var(--color-grey-shadow);
  }

  @media (min-width: 768px) {
    .menu {
      padding: 4rem 2rem;
    }
  }

  .menu-category {
    width: 100%;
    max-width: 600px;
  }

  .menu-category h2 {
    margin-bottom: 2.5rem;
    font-size: var(--size-lg);
  }

  @media (min-width: 768px) {
    .menu-category h2 {
      margin-bottom: 3.25rem;
      font-size: var(--size-xl);
      text-align: center;
    }
  }

  .menu-category li {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 4rem;
    margin-bottom: 1.5rem;
    line-height: 1;
  }

  @media (min-width: 768px) {
    .menu-category li {
      margin-bottom: 2rem;
      font-size: var(--size-base);
    }
  }

  .menu-category li span {
    font-size: var(--size-xs);
    text-align: right;
  }

  @media (min-width: 768px) {
    .menu-category li span {
      font-size: var(--size-sm);
    }
  }

  .menu a {
    font-size: var(--size-sm);
  }

  @media (min-width: 768px) {
    .menu a {
      font-size: var(--size-base);
    }
  }
</style>
