---
import { Image } from 'astro:assets'
import SectionHeader from '../../text/SectionHeader.astro'
import aboutOne from '../../../assets/about-1.jpg'
import aboutTwo from '../../../assets/about-2.jpg'
import aboutThree from '../../../assets/about-3.jpg'
---

<section id="about">
  <SectionHeader title="About Us" />
  <p>
    Born Yesterday is a small bakery in Western Maine making sourdough baked goods, with a focus on
    organic, local and whole grains. We see bread as a handmade product that is wildly crafted,
    using ancient grains & local foods.
  </p>
  <div class="image-container">
    <Image src={aboutOne} alt="Cheesy Bread" width={aboutOne.width} height={aboutOne.height} />
    <Image
      src={aboutTwo}
      alt="Organic, Whole Grains"
      width={aboutTwo.width}
      height={aboutTwo.height}
    />
    <Image src={aboutThree} alt="Milk Bread" width={aboutThree.width} height={aboutThree.height} />
  </div>
  <a href="/menu" class="site-cta">See Our Menu</a>
  <div class="hours">
    <h3>Hours</h3>
    <ul>
      <li>Monday <span>10am - 3pm</span></li>
      <li>Tuesday <span>10am - 3pm</span></li>
      <li>Wednesday <span>10am - 3pm</span></li>
      <li>Thursday <span>10am - 3pm</span></li>
      <li>Friday <span>Closed</span></li>
      <li>Saturday <span>Closed</span></li>
      <li>Sunday <span>Closed</span></li>
    </ul>
  </div>
</section>

<style>
  #about {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid var(--color-grey);
  }

  #about p {
    max-width: 750px;
    margin-bottom: 2rem;
  }

  #about a {
    margin-bottom: 4rem;
    font-size: var(--size-sm);
  }

  @media (min-width: 768px) {
    #about a {
      font-size: var(--size-base);
    }
  }

  .image-container {
    margin-bottom: 4rem;
  }

  @media (min-width: 768px) {
    .image-container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }

  .image-container img {
    width: 100%;
    height: auto;
    margin-bottom: 1rem;
    border-radius: 0.25rem;
  }

  @media (min-width: 768px) {
    .image-container img {
      width: 32%;
      margin-bottom: 0;
    }
  }

  .image-container img:last-child {
    margin-bottom: 0;
  }

  .hours {
    max-width: 450px;
    margin: 0 auto 4rem;
  }

  .hours h3 {
    margin-bottom: 2rem;
    text-align: center;
  }

  @media (min-width: 768px) {
    .hours h3 {
      font-size: var(--size-lg);
    }
  }

  .hours li {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 4rem;
    margin-bottom: 1.5rem;
    line-height: 1;
  }

  .hours li span {
    font-size: var(--size-xs);
    text-align: right;
  }
</style>
